
.wrapper {
    width: 400px;
    min-height: 400px;
    overflow-x: hidden;
    background-color: whitesmoke;
}

.modal-header {
    color: #eb6864;
    cursor: default;
}

.modal-header > img {
    width: 40px;
    height: 40px;
}

.modal-main-section {
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 4px solid pink;
}

.modal-footer {
    background-color: white;
}
